@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff900e;
    --sacendary-color: #ffffff;
}

/* base style  */
body {
    font-family: 'Work Sans', sans-serif;

}

a,
li {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.container {
    margin: 0 auto;
    /* display: flex; */
    /* display: grid; */

    max-width: 1440px;

}

.btn {
    border: none;
    background-color: var(--primary-color);
    padding: 1.5625rem;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    transition: all 200ms ease 0s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.btn:hover {
    background-color: #ffffff;
}

/* navbar */
.navbar__header {
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar__box {
    display: flex;
    justify-content: space-between;
    padding: 3.9375rem 0 3.9375rem 0;
    align-items: center;
    align-content: center;


}

.logo {
    font-size: 2.8125rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;

}

.menu a {
    font-size: 1.2rem;
    color: #424242;
}

/* header */
.header__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text__box {
    width: 862px;
}

.header__title {
    font-style: Bold;
    font-size: 64px;
    line-height: 75px;
}

.header__desc {
    line-height: 26px;
    margin-top: 2rem;
}

.header__box {
    text-align: center;
}

.header__btn {
    margin: 2rem;
}

.header__btn--white {
    color: var(--sacendary-color);
}

.header__btn:hover .header__btn--white {
    color: var(--primary-color);
}

.header__image__box {
    margin-bottom: 45px;
}

.header__image {
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* team */
.team__container {
    display: flex;
    align-items: center;
    gap: 73px;
    margin: 85px 0 85px 0;
}

.team__image__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}

.team__title {
    font-size: 45px;
    line-height: 53px;

    /* Dark 03 */

    color: #727272;
}

.team__desc {
    margin: 32px 0 32px 0;
}

.team__title--black {
    color: #000000;
}

.team__title--orange {
    color: var(--primary-color);
}

.team__desc {
    line-height: 26px;
    color: #727272;
}

.team__btn--white {
    color: var(--sacendary-color);
}

.team__btn:hover .team__btn--white {
    color: var(--primary-color);
}

/* experience */
.experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 55px;
}

.experience__title {
    font-weight: 700;
    font-size: 2.8125rem;
    line-height: 53px;
}

.experience__desc {
    line-height: 26px;
    /* or 162% */


    /* Dark 03 */

    color: #727272;
}

.experience__card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 30px 0 30px 0;
    padding: 30px;
    border-radius: 8px;
}

.team__image__item {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.experience__card__tile {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;

    /* Dark 01 */

    color: #131313;
}

.experince__card__desc {
    line-height: 26px;

    color: #727272;
}

.experience__image_box {
    position: relative;

}

.experience__image {
    width: 100%;
    height: 100%;
}

.years {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    /* or 108% */

    text-align: center;

    color: #FFFFFF;
}

.years__exp {
    font-size: 25px;
    line-height: 40px;
    /* or 160% */

    text-align: center;

    color: #FFFFFF;

}

.experience__btn__box {
    position: absolute;
    bottom: 90px;
}


.experience__btn--white {
    color: var(--sacendary-color);
}

.experience__btn:hover .experience__btn--white,
.experience__btn:hover .years {
    color: var(--primary-color);
}


/* facts */
.facts__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.facts__desc {
    line-height: 26px;
    color: #727272;

}

.facts__card__container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: space-around;
    text-align: center;
}

.facts__card__box {
    margin: 100px 0 100px 0;
    padding: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    transition: all 0.5s 0s ease;

}

.facts__card__box:hover {
    transform: scale(1.1);
}

.facts__card__box:hover .facts__number {
    color: var(--primary-color);
}

.facts__card__box:hover .facts__desc {
    color: var(--primary-color);
}

.facts__number {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.facts__desc {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #727272;
    margin-top: 30px;
}




/* sponsors */

.sponsors_container {
    text-align: center;
}

.sponsors__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    /* identical to box height */


    /* Dark 01 */

    color: #131313;
}

.sponsors__desc {
    line-height: 26px;
    color: #727272;
    margin: 25px 0 25px 0;
}

.sponsors__image__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0 50px 0;

}


.sponsord__image {
    filter: grayscale(1);
}

/* footer */
.footer__box {
    text-align: center;

    background: #FFF4E7;
    border-radius: 8px;
    padding: 50px 0 50px 0;
    margin-bottom: 200px;
}


/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    body {
        background-color: rgb(240, 240, 240);
    }

    .container {
        max-width: 1140px;
    }

    .experience__title {
        font-size: calc(4vw);
        line-height: 4.5vw;

    }

    .experience__desc {
        margin-top: 12px;
    }

    .experience__box {}

}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }

    .team__container {
        flex-direction: column;
        text-align: center;
    }

    .team__image__box {
        gap: 55px;
    }

    .years {
        font-size: 3rem;
    }

    .years__exp {
        line-height: 0;
    }
}



/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {


    .container {
        max-width: 540px;

    }

    .navbar__box {
        flex-direction: column;
    }

    .header__title {
        font-size: 34px;
        line-height: 55px;
    }

    .header__desc {
        line-height: 26px;
        margin-top: 0;
        display: block;
        padding: 0px 200px 0 200px;

    }

    .navbar__box {
        padding: 11px 0 11px 0;
        gap: 11px;

    }

    .team__image__box {
        grid-template-columns: repeat(1, 1fr);

    }

    .experience__container {
        grid-template-columns: repeat(1, 1fr);
    }

    .facts__card__box {
        margin: 0;
    }

    .facts__card__container {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-top: 12px;
    }

    .sponsors__image__box {
        flex-direction: column;
        gap: 33px;
    }

    .footer__box {
        margin-bottom: 50px;
    }

    .footer__text {
        font-size: 1.3rem;
    }

    .navbar__header {
        display: none;
    }

    .experience__box {
        text-align: center;
    }

    .sponsors__tex__box {
        text-align: center;
        margin-top: 22px;
    }

    .sponsors__title {
        font-size: 28px;

    }

    .sponsors__desc {
        margin: 0;
    }
}